<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ngu.springboot_shiro.dao.UsersDao">
    <insert id="save" parameterType="com.ngu.springboot_shiro.domain.Users" useGeneratedKeys="true" keyProperty="id">
      insert into users values (#{id},#{name},#{password},#{salt});
    </insert>

    <select id="findByUserName" parameterType="java.lang.String" resultType="Users">
      select * from users where name=#{username};
    </select>
</mapper>